.DS_Store
node_modules
.idea
package-lock.json
/build
.vscode/
.idea/
vite.config.*s.*

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dossiers de fichiers générés
/backend/uploads/*
/backend/output/*
!backend/uploads/.gitkeep
!backend/output/.gitkeep
